.home-container {
  display: flex;
  flex-direction: column;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  margin: auto;
  color: #ffffff;
  background-size: cover;
  min-height: 90vh;
  padding: 20px;
  font-family: 'Roboto';
}

.find-jobs-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 13px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  border-style: none;
}

@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
    background-size: cover;
    padding: 40px;
  }
}
